<div class="container mt-4">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for item in posts %}
                <div class="col">
                    <div class="card">
                        <img src="{{ item.image.url }}">
                        <div class="card-body">
                            <h5 class="fs-5 fw-bold text-center">{{ item.titulo }}</h5>
                            <div class="row" >
                                <div class="col">
                                    <strong class="fw-lighter text-decoration-underline">{{item.categoria}}</strong>
                                </div>
                                <div class="col">
                                    <p class="fw-lighter text-end">{{item.fecha}}</p>
                                </div>
                            </div>
                            <a href="{% url 'post:readpost' item.id %}" class="btn btn-primary">Leer Más</a>
                        </div>
                    </div>
                </div>
        {% endfor %}
    </div>
</div>