
{% extends 'base.html' %}
{% block title %}Inicio{%endblock %}
{% block contenido %}
{% load static %}

<!--==========================
    Intro Section
============================-->
<div class="container">
<main id="main">
<section id="intro" class="">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="{% static 'img/17objetivos.png' %}" class="d-block w-100"  height="450">
          </div>
          <div class="carousel-item">
            <img src="{% static 'img/objetivo.png' %}" class="d-block w-100"  height="450">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</section><!-- #intro -->
</div>
<!--==========================
    Home Us Section
============================-->
<section id="Home">
  {% include 'post/listapost.html' %}
</section>
</main>
{% endblock %}