  
  {% for item in comentarios %}
    <div class="row justify-content-md-center ">
      <div class="col-md-6">
        <div class="list-group-item d-flex gap-3 py-3" aria-current="true">
          <img src="https://github.com/twbs.png" alt="twbs" width="40" height="40" class="rounded-circle flex-shrink-0">
          <div class="d-flex gap-2 w-100 justify-content-between">
            <div>
              <h6 class="mb-0">{{ item.user.username }}</h6>
              <p class="mb-0 text-break opacity-75">{{ item.comentario }}</p>
            </div>
            <small class="opacity-50 text-nowrap">{{ item.fecha }}</small>
          </div>
        </div>
      </div>
    </div>  
  {% endfor %}
  
